* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: sans-serif;
}

.header-placeholder,
.footer-placeholder {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.hero-section {
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-position: center 70%;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 16px;
}
