* {
  margin: 0;
  padding: 0;
}

.static-image {
  width: 100%;
  display: block;
  max-width: 100%;
}

.hero-section {
  position: relative;
  height: 238px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 75%;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(7, 57, 117, 0.3) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.hero-text {
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 17px;
  width: 80%;
  margin: auto;
}
